@model IEnumerable<Blog.Models.PostStatus>

@{
    ViewData["Title"] = "Post Status";
}
<h1>New Post Statuses</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <a class="btn btn-info" asp-action="AddEditPostStatus" asp-controller="Post">Create New</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelitem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelitem => item.Name)</td>
                                    <td><a class="btn btn-info" asp-action="AddEditPostStatus" asp-controller="Post" asp-route-Id="@item.Id">Edit</a> <a class="btn btn-danger" asp-action="DeletePostStaus" asp-controller="Post" asp-route-Id="@item.Id">Delete</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    @if (ViewBag.Message != null)
    {
        <div class="position-absolute top-0 end-0 mt-5 mr-5">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                @ViewBag.Message
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
</div>